.homepage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .circle-btn {
    color: white;
    clip-path: circle();
    background-color: var(--color-grey-dark);
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-self: center;
    span {
      font-size: 1.5rem;
    }
  }
  .desktop-only {
    display: none;
  }
  aside {
    .bottom-aside {
      display: flex;
      overflow-x: scroll;
      gap: 0.5rem;
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none;
      li a {
        cursor: pointer;
        padding: 0.25rem 0.5rem;
        border: 1px solid var(--color-grey-light);
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: max-content;
        img {
          width: 2.5rem;
          clip-path: circle();
        }
        .category-title {
          width: max-content;
        }
      }
      li.active a .category-title {
        color: var(--primary-color);
      }
      li:first-child a {
        margin-left: 0.5rem;
      }
      li:last-child a {
        margin-right: 0.5rem;
      }
    }
    .bottom-aside::-webkit-scrollbar {
      display: none;
      background: transparent;
    }
  }
  main {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    .top-main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h4 {
        font-size: 1.125rem;
      }
      button {
        display: flex;
      }
      button.desktop-only {
        display: none;
      }
    }
    .bottom-main {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .article-item {
        cursor: pointer;
        overflow: hidden;
        background-color: var(--color-grey-light);
        border-radius: var(--border-radius-default);
        display: flex;
        flex-direction: column;
        box-shadow: var(--box-shadow-default);
        .article-image {
          height: 10rem;
          border-radius: var(--border-radius-default);
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .article-info {
          padding: 0.5rem;
          .top-info {
            h3 {
              font-size: 1.125rem;
            }
            p {
              font-family: var(--font-family-light);
            }
          }
          .bottom-info {
            display: flex;
            gap: 0.5rem;
            justify-content: end;
            align-items: center;
            p {
              font-family: var(--font-family-light);
            }
            .category-info {
              background-color: var(--color-grey-dark);
              color: white;
              padding: 0.25rem;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .homepage {
    flex-direction: row;
    aside {
      transition: 0.5s ease-in-out;
      flex: 1;
      .sticky-container {
        top: 2rem;
        position: sticky;
      }
      .top-aside {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4 {
          font-size: 1.125rem;
        }
      }
      .bottom-aside {
        margin-top: 1rem;
        border-radius: var(--border-radius-default);
        background-color: var(--color-grey-dark);
        padding: 1rem 0 1rem 1rem;
        flex-direction: column;
        li a {
          color: white;
          width: 100%;
          border: none;
          border-right: 0.5rem solid var(--color-grey-regular);
          background-color: var(--color-grey-regular);
          border-radius: 12px 0 0 12px;
        }
        li.active a .category-title {
          color: white;
        }
        li.active a {
          border-right: 0.5rem solid var(--primary-color);
        }
        li a:first-child {
          margin-left: 0;
        }
        li a:last-child {
          margin-right: 0;
        }
      }
    }
    main {
      padding: 0;
      flex: 3;
      .top-main .right-side {
        display: flex;
        gap: 0.5rem;
        .desktop-only {
          display: flex;
        }
        .material-icons-outlined {
          transition: 0.5s ease-in-out;
        }
        .rotate90 {
          transform: rotate(90deg);
        }
      }
      .bottom-main {
        background-color: var(--color-grey-light);
        border-radius: var(--border-radius-default);
        padding: 1rem;
        margin-top: 1rem;
        .article-item {
          background-color: white;
          flex-direction: row;
          .article-image {
            flex: 1;
            height: 12.5rem;
          }
          .article-info {
            padding: 0.75rem;
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .top-info {
              h3 {
                font-size: 1.375rem;
                margin-bottom: 0.5rem;
              }
            }
          }
        }
      }
    }
    aside.closed {
      flex: unset;
      .sticky-container {
        .top-aside {
          h4 {
            display: none;
          }
        }
        .bottom-aside li a {
          .category-title {
            display: none;
          }
        }
      }
    }
    main .bottom-main.col-view {
      display: flex;
      flex-wrap: wrap;
      flex-basis: 30%;
      a .article-item {
        display: block;
        width: 30%;
      }
      a {
        width: 100%;
        display: inline;
      }
    }
  }
}
